<div class="card-header">
  <span>Cliente</span>
  <span>Origem</span>
  <span class="lista-entrega-header-coluna">Destino</span>
  <span class="lista-entrega-header-coluna">Data de Entrega</span>
</div>

<!--<div class="lista-entrega-header">-->
  <!--<div class="lista-entrega-header-coluna">Cliente</div>-->
  <!--<div class="lista-entrega-header-coluna">Origem</div>-->
  <!--<div class="lista-entrega-header-coluna">Destino</div>-->
  <!--<div class="lista-entrega-header-coluna">Data de Entrega</div>-->
<!--</div>-->
